{% extends 'PtuitBundle::plantilla.html.twig' %}
{% block barraNavegacion %}
<div class="Bnavegacion">
    <div class="l"></div>
    <div class="r"></div>

</div>
{% endblock %}
{% block contenido %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %} 
<div class="bloqueCabecera">
    <div class="l"></div>
    <div class="r"></div>
    <h3 class="t">Entrar a Ptuit</h3>
</div>
<div class="bloqueContenido">
    <div class="bloqueContenido-tl"></div>
    <div class="bloqueContenido-tr"></div>
    <div class="bloqueContenido-bl"></div>
    <div class="bloqueContenido-br"></div>
    <div class="bloqueContenido-tc"></div>
    <div class="bloqueContenido-bc"></div>
    <div class="bloqueContenido-cl"></div>
    <div class="bloqueContenido-cr"></div>
    <div class="bloqueContenido-cc"></div>
    <div class="bloqueContenido-body">
        <form action="{{ path('login_check') }}" method="post" name="login_check" id="form-login" >
            <fieldset class="input">
                <p id="form-login-username">
                    <label for="modlgn_username">Usuario</label><br />
                    <input id="modlgn_username" type="text" name="_username" 
                           class="inputbox" alt="username" size="18" value="{{ last_username }}" />
                </p>
                <p id="form-login-password">
                    <label for="modlgn_passwd">Password</label><br />
                    <input id="modlgn_passwd" type="password" name="_password" 
                           class="inputbox" size="18" alt="password" />
                </p>
                <p id="form-login-remember">
                    <label for="modlgn_remember">Recordar</label>
                    <input id="modlgn_remember" type="checkbox" name="remember" 
                           class="inputbox" value="yes" alt="Remember Me" />
                </p>
                <span class="art-button-wrapper">
                    <span class="art-button-l"> </span>
                    <span class="art-button-r"> </span>
                    <input type="submit" name="Submit" class="art-button" value="Login" />
                </span>
            </fieldset>
            <p>Para ver una demostracion de la aplicacion entrar con Usuario: demo1234 y Password: demo1234</p>
            <ul>
                <li><a href="#">Forgot your password?</a></li>
                <li><a href="#">Forgot your username?</a></li>
                <li><a href="#">Create an account</a></li>
            </ul>
        </form>

        <div class="cleared"></div>
    </div>
</div>


{% endblock %}